.select-block label, .input-block label, .textarea-block label {
    font-size: 1.4rem;
    color: var(---color-text-complement);
}

.select-block select, .input-block input, .textarea-block textarea {
    width: 100%;
    height: 5.6rem;
    margin: 0.6rem 0;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    padding: 0 1.6rem;
    font: 1.6rem;
    outline: 0;
}

.textarea-block textarea {
    padding: 1.2rem 1.6rem;
    height: 16rem;
    resize:none;
}

.input-block, .textarea-block {
    position: relative;
}

.input-block:focus-within::after {
    content: "";
    width: calc(100% - 3.2rem);
    height: 2px;
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 5px;
}

.textarea-block:focus-within::after {
    content: "";
    width: calc(100% - 3.2rem);
    height: 2px;
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 5px;
    margin-bottom: 6px;
}
