:root {
    font-size: 40%;
}

#page-landing {
    background-color: var(--color-primary);
}

#page-landing #container {
    color: var(--color-text-in-primary);
}

.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container img {
    height: 10rem;
}

.logo-container h2 {
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 1.5;
    margin-top: 0.8rem;
}

.hero-image {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.button-container a {
    width: 30rem;
    height: 10.4rem;
    border-radius: 0.8rem;
    font:700 2.4rem Poppins;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-button-text);
    transition: background 0.2s;
}

.button-container a img {
    width: 4rem;
    margin-right: 2.4rem;
}

.button-container a.study {
    background: var(--color-primary-lighter);
    margin-right: 1.6rem;
}

.button-container a.study:hover {
    background-color: var(--color-primary-light);
}

.button-container a.give-classes {
    background: var(--color-secondary);
}

.button-container a.give-classes:hover {
    background: var(--color-secondary-dark);
}

.total-connections {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total-connections img {
    margin-left: 1.6rem;
}

/*@media (min-width: 700px) and (max-width:1000px) {
    .logo-container img {
        height: 25rem;
    }

    #container h2 {
        font-size: 6rem;
    }

    .button-container a {
        width: 45rem;
        height: 20.4rem;
        border-radius: 0.8rem;
        font:700 5rem Poppins;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--color-button-text);
        transition: background 0.2s;
        margin-top: 6rem;
        margin-bottom: 6rem;
        padding: 2rem;
    }

    .button-container a img {
        width: 6rem;
        margin-right: 2.4rem;
    }

    .button-container a.study {
        background: var(--color-primary-lighter);
        margin-right: 3.6rem;
    }
}*/

@media (max-width: 699px) {
    :root {
        font-size: 40%;
    }
}

@media (min-width: 1100px) {
    #page-landing #container {
        max-width: 1100px;
        display: grid;  
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 350px 1fr;
        grid-template-areas:
        "proffy image image"
        "button button texting";
        gap: 60px;
    }

    .logo-container {
        grid-area: proffy;
        text-align: initial;
        align-self: center;
    }

    .logo-container img {
        height: 100%;
    }

    .hero-image {
        grid-area: image;
    }

    .button-container {
        grid-area: button;
        justify-content: flex-start;
    }

    .total-connections {
        grid-area: texting;
        justify-self: end;
    }

}